@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --accent: #ea5959;
    --default: rgba(0, 0, 0, 0.3);
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--accent);
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 32px;
    font-size: 18px;
}
.todo {
    padding: 32px;
    background-color: #fff;
    width: 60vw;
    border-radius: 16px;
}
.todo__new {
    --size: 50px;
    display: flex;
    margin: 16px 0 32px;
}
.todo__new input {
    margin-right: 16px;
    font-size: 18px;
    padding: 8px 16px;
    height: var(--size);
    border: 1px solid var(--default);
    border-radius: 5px;
    flex-grow: 1;
}
.todo__add,
.todo__task-del {
    cursor: pointer;
    text-align: center;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    line-height: calc(var(--size) * 0.95);
    font-size: 32px;
    font-weight: 200;
    background: var(--accent);
    color: white;
}
.todo__list > *:not(:last-child) {
    margin-bottom: 20px;
}
.todo__task {
    cursor: default;
    --size: 36px;
    display: flex;
    align-items: center;
    min-height: var(--size);
}
.todo__task--done .todo__task-text{
    text-decoration: line-through;
    color: var(--default);
}
.todo__task:hover .todo__task-del {
    display: block;
}
.todo__checkbox {
    margin-right: 16px;
}
.todo__checkbox input {
    display: none;
}
.todo__checkbox input:checked + div{
     background-color: var(--accent);
}
.todo__checkbox input:checked + div::after{
    display: block;
}
.todo__checkbox div {
    cursor: pointer;
    --size: 28px;
    width: var(--size);
    height: var(--size);
    border: 1px solid var(--accent);
    border-radius: 4px;
    position: relative;
}
.todo__checkbox div::after{
    display: none;
    content: '✓';
    color: #fff;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.todo__task-text {
    font-size: 20px;
}
.todo__task-del {
    display: none;
    margin-left: auto;
    margin-right: 0;
    line-height: calc(var(--size) * 0.88);
    font-size: 44px;
}